<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
  <!-- 파이프 연산자를 이용하여 히어로의이름을 대문자로 표 -->
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="name">Hero name: </label>
  <!-- [(ngModel)]는  Angular의 양방향 바인딩 문법 -->
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div>
</div>
